#state-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 806px;
    max-height: 600px;

    .game-container {
        position: relative;

        .countdown-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;

            #countdown {
                font-size: 200px;
                color: white;
                -webkit-text-stroke: 4px #8f0000;
            }
        }

        .background {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            z-index: 1;
        }

        .game-board {
            position: relative;
            z-index: 3;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 2;
            
            .seeds-container {
                position: absolute;
                top: 18px;
                left: 200px;
                background-color: #693212;
                gap: 6px;

                .seed {
                    border: 0;
                    background-color: transparent;
                    padding: 0;
                    cursor: default;
        
                    .image {
                        width: 98%;
                        pointer-events: none;
                        transition: all 0.03s;
                    }

                    &.hover {
                        .image {
                            filter: brightness(70%);
                        }
                    }
                    
                    &.selected {
                        outline: 0;
                        border: 0;
                        .image {
                            filter: brightness(100%);
                            box-shadow: 0 0 0 3px lime;
                            border-radius: 2px;
                        }
                    }

                    &.disabled {
                        .image {
                            filter: brightness(50%);
                        }
                    }
                }
            }
    
            .sun-display {
                display: flex;
                position: absolute;
                width: 45px;
                left: 126px;
                top: 72px;
                font-family: 'BunkenTech';
                justify-content: center;
            }
    
            .info-display {
                position: absolute;
                color: white;
                top: 22px;
                right: 260px;
            }
    
            .info-display span {
                font-family: sans-serif;
                font-weight: bold;
            }
    
            .shovel-display {
                position: absolute;
                top: 12px;
                right: 102px;
                width: 60px;
                cursor: pointer;
            }
    
            .shovel-display img {
                max-width: 100%;
                pointer-events: none;
                user-select: none;
            }
        }
    }

    .leaderboard {
        color: white;

        .actual-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 600px;
            padding: 12px;
        }

        #sorter {
            padding: 8px;
            width: 190px;
            text-align: left;
            border-radius: 4px;
            margin-top: 14px;
            margin-bottom: 20px;
        }

        .items-container {
            width: 180px;

            .item {
                display: flex;
                align-items: flex-start;
                width: 100%;
                gap: 8px;

                .text {
                    display: flex;
                    flex-direction: column;
                }

                .view-detail {
                    padding: 8px;
                }
            }

            .item span {
                font-size: 13px;
                font-style: italic;
            }
        }
    }
}


.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    
}